* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.title {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 60px;
  padding-bottom: 20px;
  height: 400px;
}

.list_class {
  min-height: 200px;
  max-height: 350px;
  overflow-y: auto;
}

div[class^="list"] {
  background-color: #ebecf0;
  padding: 10px;
  border-radius: 8px;
}

.list__title {
  margin: 5px 0 15px 5px;
  color: #000000;
}

.list__cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: auto;
}

.list__cards > div {
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  border-left: 4px solid transparent;
}

.list__cards > div:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.card{
  word-break: break-all;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.add-list-btn{
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
}

.add-card-btn{
  width: 90%;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translatex(-50%);
}

.add-board-btn{
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
}

.board-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.board-card {
  width: 200px;
  height: 100px;
  border-radius: 30px;
}

button:hover {
  background-color: #777;
}
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid black;
}

.delete-btn{
  background-color: transparent;
  font-size: 10px;
  margin: 0;
  border: none;
  position: relative;
  right: 0;
}

.home-btn{
  width: 70px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}